h3{
    display: inline-block;
    border: 3px solid black;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    margin-left: 400px;
}

h1 {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: blue;
    size: 15;
    margin-left: 412px;
    margin-top: 20px;
    border: 3px solid black;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
}