<html> 
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="container">
        <h2>Dojo Survey</h2>
        <form action="/result" method="POST">
            {% csrf_token %}
            <p>Your Name: <input name = "name" type="text"></p>
            <p>Choose Location</p>
                <input type="radio" name="location" value="Los Angeles">
                <label for="Los Angeles">Los Angeles</label>
                <input type="radio" name="location" value="Dallas">
                <label for="Dallas">Dallas</label>
                <input type="radio" name="location" value="Seattle">
                <label for="Seattle">Seattle</label>
            <p></p>
            <p>Choose Language</p>
                <input type="checkbox" name="language" id="native_language" value="English">
                <label for="English">English</label>
                <input type="checkbox" name="language" id="native_language" value="Spanish">
                <label for="Spanish">Spanish</label>
                <input type="checkbox" name="language" id="native_language" value="French">
                <label for="French">French</label>
                <input type="checkbox" name="language" id="native_language" value="German">
                <label for="German">German</label>
            <p>Comment: </p>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
            <p></p>
            <button type="submit" id="submit">Submit</button>
        </form>
        </div>
    </body>
</html>

