.container{
    display: inline-block;
    border: 3px solid black;
    padding: 15px;
    margin-left: 100px;
    margin-top: 25px;
}

h2{
    margin-left: 90px;
    color: blue;
}

h1{
    color: blue;
}

#submit{
    margin-left: 125px;
}